.global{
    background-color: rgb(104, 101, 101);
    width:70%;
    border-radius: 5%;
    margin-left: 15%;
    margin-top: 18%;
    margin-bottom: 18%;
}

.global div{
    font-size: 1.5em;
}


.container-fluid{
    
}

.name{

}


.difficulti{

}

.score{

}


.text{
    
}

